@using Sitecore
<div class="col-12 col-md-10 pr-md-0">
    <nav class="navbar navbar-expand-md btco-hover-menu py-lg-2">
        @Html.Sitecore().Placeholder("navbar-left")
        @Html.Sitecore().Placeholder("navbar-right")
    </nav>
</div>
