@using Sitecore
<div class="fables-transparent py-3 py-lg-0">
    <div class="container">
        <div class="row">
            @Html.Sitecore().Placeholder("navbarcontainer-left")
            @Html.Sitecore().Placeholder("navbarcontainer-right")            
        </div>
    </div>
</div>

