<?xml version="1.0"?>
<configuration>
  <sitecore>
    <pipelines>
      <metadata.getPageMetadata>
        <processor type="SC91Training.Feature.Metadata.Infrastructure.Pipelines.GetPageMetadata.SetFromContext, SC91Training.Feature.Metadata" resolve="true"/>
        <processor type="SC91Training.Feature.Metadata.Infrastructure.Pipelines.GetPageMetadata.SetFromPage, SC91Training.Feature.Metadata" resolve="true"/>
        <processor type="SC91Training.Feature.Metadata.Infrastructure.Pipelines.GetPageMetadata.CombineTitle, SC91Training.Feature.Metadata" resolve="true"/>
      </metadata.getPageMetadata>
    </pipelines>
    <services>
      <configurator type="SC91Training.Feature.Metadata.Infrastructure.Configurator, SC91Training.Feature.Metadata" />
    </services>
  </sitecore>
</configuration>
